{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Image 1.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who Am I?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I am Luka Van Den Boomen</li>
                            <li>I am a Junior</li>
                            <li>I enjoy soccer and video games</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Image 2.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What are my goals?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I plan on becoming successful helping people in teh community.</li>
                            <li>I plan on traveling again to see family this year.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Image 3.webp') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Traveling</h5>
                    <p class="card-text">
                        <ol>
                            <li>I am from The Netherlands.</li>
                            <li>Ive traveled to various different countries around the world.</li>
                            <li>Most countries ive been to were in Europe.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}